{{- $dest := .Destination -}}
{{- $href := $dest -}}
{{- $target := replaceRE "([?#].*)$" "" $dest -}}
{{- $suffix := replaceRE "^[^?#]*" "" $dest -}}
{{- $isInternal := not (or
  (strings.HasPrefix $dest "http://")
  (strings.HasPrefix $dest "https://")
  (strings.HasPrefix $dest "mailto:")
  (strings.HasPrefix $dest "tel:")
  (strings.HasPrefix $dest "#")
) -}}
{{- if and $isInternal (strings.HasSuffix $target ".md") -}}
  {{- $clean := $target -}}
  {{- if not (strings.HasPrefix $clean "/") -}}
    {{- $pageDir := "" -}}
    {{- with .Page.File -}}
      {{- $pageDir = .Dir -}}
    {{- end -}}
    {{- $clean = path.Clean (printf "/%s/%s" $pageDir $clean) -}}
  {{- end -}}
  {{- if eq $clean "/README.md" -}}
    {{- $clean = "/" -}}
  {{- else if strings.HasSuffix $clean "/README.md" -}}
    {{- $clean = replaceRE "/README\\.md$" "/" $clean -}}
  {{- else -}}
    {{- $clean = replaceRE "\\.md$" "/" $clean -}}
  {{- end -}}
  {{- $href = printf "%s%s" $clean $suffix -}}
{{- end -}}
<a href="{{ $href | relURL | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
